header {
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px;
    background-color: rgba(49, 49, 160, 0.904);
    text-align: center;
    margin-top: 0px;
    width: 100%;
    color: #ffffff;
}
nav,footer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px; 
    background-color: #466aac;
    padding: 20px;
    width: 100%;
}
a{
    color: #32349c;
    text-decoration: none;
    margin: 0;
    padding-left: 0;
    font-size: larger;
}
 a:hover{
    text-decoration: underline;
}
body{
    background-color: #b9d5f0;
    text-align: center;
}
nav a,footer a{
    color: #ffffff;
}
iframe{
    border: 2px solid #466aac;
    border-radius: 8px;
    margin-top: 20px;
    margin-left: 1%;
}
.line-title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    white-space: nowrap;
    overflow: visible;
}

.line-title::before,
.line-title::after {
    content: "";
    flex: 1 1 0;
    min-width: 20px;
    height: 1px;
    background: rgba(54, 95, 172, 0.74); /* kolor linii - dopasuj jeśli trzeba */
}

/* alternatywny jaśniejszy wariant (np. na ciemnym tle) */
.line-title.light::before,
.line-title.light::after {
    background: rgba(255,255,255,0.25);
}
p{
    font-size:20px;
}

/* Dekoracja dla paragrafów nad mapką */


.map-desc::before{
    content: "";
    position: absolute;
    left: -14px;
    top: 50%;
    transform: translateY(-50%);
    width: 10px;
    height: 10px;
    background: #ffffff;
    border-radius: 50%;
    box-shadow: 0 0 0 5px rgba(70, 106, 172, 0.938);
}

.map-desc strong{
    color: #0b2b4a;
}

.map-desc:hover{
    transform: translateY(-4px);
    box-shadow: 0 16px 36px rgba(25, 70, 155, 0.884);
}

/* Opcjonalne mniejsze warianty */
.map-desc.small{
    padding: 8px 14px;
    font-size: 16px;
    border-radius: 10px;
}.map-desc {
    padding: 12px 20px;
    border-radius: 12px;

    font-size: 18px;
    max-width: 200px;
    margin: 18px auto;
    text-align: left;
    
    
}
button{
    font-size: large;
    padding: 10px 20px;
    background-color: #572ccf;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}